.about {
    &__header-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        max-width: 800px;
    }

    &__description {
        margin-bottom: 3rem;
    }

    &__card-wrapper {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 1.75rem;

        width: 100%;

        @media (width < 650px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        padding: var(--padding);

        max-height: 275px;

        @media (width < 450px) {
            padding: 1.5rem;
        }

        @media (width < 350px) {
            padding: 1rem;
        }

        &-image {
            min-width: 650px;

                    @media (width < 650px) {
            min-width: 450px;
        }
        }

        &-description {
            margin-bottom: 1rem;
        }
    }

    &__card-title {
        color: #1bc7e4;
        background-image: linear-gradient(45deg, #1bc7e4 22%, #80ff80 71%, #66cc66 82%);

        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

.about__card-wrapper {
    position: var(--position);
}
