.about {
    &__card-wrapper {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 1.75rem;

        width: 100%;

        @media (width < 650px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        padding: var(--padding);

        @media (width < 450px) {
            padding: 1.5rem;
        }

        @media (width < 350px) {
            padding: 1rem;
        }

        &-icon {
            display: flex;
            align-items: center;

            margin-bottom: 0.75rem;

            svg {
                width: 24px;
                height: 24px;

                stroke: var(--iconColor);
            }
        }
    }
}

.mockup {
    max-height: 578.87px;
    max-width: 590px;

    @media (width < 470px) {
        display: none;
    }
}

.mockup-small {
    display: none;

    max-height: 578.87px;
    max-width: 284px;

    @media (width < 470px) {
        display: block;
    }
}
