.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &__header-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        max-width: 800px;
    }

    &__description {
        margin-bottom: var(--margin-bottom);
    }

    &__image-wrapper {
        max-width: 300px;

        border-radius: var(--border-radius);
    }

    &__image {
        border-radius: var(--border-radius);

        width: 100%;
        height: 100%;

        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
    }
}
