.contact {
    &__text-wrapper {
        margin-bottom: 2rem;
    }

    &__image-wrapper {
        max-width: 275px;

        border-radius: var(--border-radius);

       //opacity: 0;
    }

    &__image {
        border-radius: var(--border-radius);

        //width: 100%;
        height: 100%;

        //border-radius: 50%;

        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
    }

    .button-wrapper {
        margin-bottom: 2rem;

        @media (width < 550px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            width: 100%;
        }
    }

    .button {
        @media (width < 550px) {
            width: 200px;
        }
    }
}
