.contact {
    &__text-wrapper {
        margin-bottom: 2rem;
    }

    &__image-wrapper {
        max-width: 275px;

        border-radius: var(--border-radius);

        @media (width < 375px) {
            max-width: 100%;
            height: 100%;
        }
    }

    &__image {
        border-radius: var(--border-radius);

        height: 100%;

        //-webkit-box-shadow: var(--box-shadow);
        //box-shadow: var(--box-shadow);
    }

    .button-wrapper {
        margin-bottom: 2rem;

        @media (width < 550px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            width: 100%;
        }
    }

    .button {
        @media (width < 550px) {
            width: 200px;
        }
    }
}

.contact__image-wrapper {
    position: var(--position);
}

// .contact__image {
//     opacity: var(--starting-opacity);

//     -webkit-transform: translateY(var(--move-down));
//     -ms-transform: translateY(var(--move-down));
//     transform: translateY(var(--move-down));

//     -webkit-transition:
//         opacity var(--fade-into-view),
//         -webkit-transform var(--fade-into-view);
//     transition:
//         opacity var(--fade-into-view),
//         transform var(--fade-into-view),
//         -webkit-transform var(--fade-into-view);
//     -o-transition:
//         opacity var(--fade-into-view),
//         transform var(--fade-into-view);
// }
