.contact {
    &__text-wrapper {
        margin-bottom: 2rem;
    }

    .button-wrapper {
        @media (width < 550px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            width: 100%;
        }
    }

    .button {
        @media (width < 550px) {
            width: 200px;
        }
    }
}
