.employment {
    &__card {
        overflow: hidden;
    }
    &__card-logo {
        width: 32px;
        height: 32px;

        margin-right: 16px;
    }

    &__card-subtitle {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;

        margin-bottom: 5px;
    }
    &__card-date {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
    &__card-responsibilities {
        margin-top: 10px;

        list-style-type: disc;
        margin-left: 20px;
    }
}
