.experience {
    &__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        border: none;
        background: none;

        padding: var(--padding);

        @media (width < 450px) {
            padding: 1.5rem;
        }

        @media (width < 350px) {
            padding: 1rem;
        }

        &-icon {
            width: 3rem;
            height: 3rem;

            border-radius: var(--border-radius);
            margin-bottom: 0.5rem;
        }

        &-skills {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 0.5rem;

            margin-bottom: 1rem;

            li {
                font-weight: 500;

                color: var(--text-color-variant);
            }
        }

        &-skill {
            i {
                font-size: 1rem;
            }
        }

        &-details {
            max-width: 800px;
        }

        &-point {
            line-height: 1.9;

            span {
                color: var(--primary-color);
            }
        }
    }

    .button-wrapper {
        margin-top: 2rem;

        @media (width < 550px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            width: 100%;
        }
    }
}
