nav {
    position: fixed;
    z-index: 200;

    background-color: var(--base-color);

    padding-top: 1rem;

    width: 100vw;

    list-style: none;

    @media (width < 600px) {
        padding-top: 0.75rem;
    }

    @media (width < 450px) {
        padding-top: 0.5rem;
    }
}

.nav {
    -webkit-box-shadow: var(--shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    position: relative;
    justify-content: space-between;
    box-shadow: var(--shadow);

    border: var(--secondary-border);
    border-left: var(--primary-border);
    border-radius: var(--border-radius-left) var(--border-radius) var(--border-radius) var(--border-radius-left);

    background-color: var(--base-color-variant-2);
    padding: 1rem 0;
    padding-right: 1rem;

    &__divider {
        display: none;

        @media (width < 950px) {
            display: block;
        }
    }

    &__btn-wrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 0.4rem;

        border-radius: 50%;

        height: 68px;

        @media (width < 950px) {
            left: 0;

            height: 56.8px;
        }

        @media (width < 450px) {
            top: 0.3rem;
            left: 0;

            height: 44px;
        }

        img {
            border-radius: 50%;
            //width: 100%;
            //height: 100%;

            width: 55px;
            height: 55px;

            @media (width < 950px) {
                position: relative;
                left: -25.5px;
            }

            @media (width < 450px) {
                width: 40px;
                height: 40px;
            }
        }
    }

    &__image {
        -webkit-transform: translateX(-90px);

        -ms-transform: translateX(-90px);
        -webkit-transition:
            opacity 0.2s ease-out,
            -webkit-transform 0.2s ease-out;
        -o-transition:
            opacity 0.2s ease-out,
            transform 0.2s ease-out;

        transform: translateX(-90px);
        opacity: 0;
        transition:
            opacity 0.2s ease-out,
            -webkit-transform 0.2s ease-out;
        transition:
            opacity 0.2s ease-out,
            transform 0.2s ease-out;
        transition:
            opacity 0.2s ease-out,
            transform 0.2s ease-out,
            -webkit-transform 0.2s ease-out;
    }

    &__list {
        -webkit-transform: translateX(-75px);
        -ms-transform: translateX(-75px);
        -webkit-transition: -webkit-transform 0.2s ease-out;
        -o-transition: transform 0.2s ease-out;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        position: relative;
        align-items: center;
        justify-self: flex-start;
        transform: translateX(-75px);
        transition: -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
        transition:
            transform 0.2s ease-out,
            -webkit-transform 0.2s ease-out;

        margin: 0 1rem;
        margin-left: 90px;
        margin-left: 85px;

        margin-left: 91px;

        @media (width < 950px) {
            display: none;
        }
    }

    &__item {
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;

        list-style: none;
    }

    &__link {
        -webkit-transition: 0.1s ease-in-out;
        -o-transition: 0.1s ease-in-out;
        display: inline-block;
        position: relative;
        transition: 0.1s ease-in-out;

        color: var(--blackOrWhite);
        font-weight: 500;

        font-size: 1.25rem;

        &:hover {
            color: var(--primary-color);
        }

        &::before {
            -webkit-transition: var(--transition);
            -o-transition: var(--transition);
            position: absolute;
            bottom: 0;
            left: 0;
            transition: var(--transition);

            background-color: var(--primary-color);
            width: 0%;

            height: 0.2rem;
            content: "";
        }

        &:hover::before {
            width: 100%;
        }
    }
}

.nav-container {
    width: 85%;

    margin: 0 auto;
    max-width: 1700px;

    position: relative;

    @media (width < 950px) {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;

        padding: 1rem;
    }

    @media (width < 600px) {
        width: 90%;
    }

    @media (width < 450px) {
        padding: 0.5rem 1rem;

        width: 95%;
    }
}

.nav__toggle-open {
    display: none;

    @media (width < 950px) {
        display: inline-block;
    }
}

.nav__toggle-close,
.nav__toggle-open {
    will-change: transform;

    &:hover {
        transform: translateY(-0.2rem);

        @media (width < 500px) {
            transform: translateY(0rem);
        }
    }

    i {
        color: var(--blackOrWhite);
    }
}
