.projects {
    &__card-wrapper {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 1.75rem;

        width: 100%;

        margin-bottom: 3rem;

        @media (width < 1200px) {
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        }

        @media (width < 450px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }

        @media (width < 280px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }

    &__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        padding: var(--padding);

        @media (width < 450px) {
            padding: 1.5rem;
        }

        @media (width < 350px) {
            padding: 1rem;
        }

        &-title {
            z-index: 1;
        }

        &-skills {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 0.5rem;

            list-style: none;

            margin-bottom: 24px;

            z-index: 1;

            li {
                display: flex;
                align-items: center;
                gap: 5px;

                font-size: 14px;
                font-weight: 600;
                line-height: 20px;

                color: var(--text-color-variant);
            }

            @media (width < 450px) {
                flex-direction: column;
                gap: 0.25rem;

                margin-top: 0.25rem;
                margin-bottom: 2rem;
            }
        }

        &-image {
            position: absolute;
            right: -150px;
            top: 50px;
            z-index: 0;

            width: 350px;
        }
    }

    .button-wrapper {
        @media (width < 550px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            width: 100%;
        }
    }

    .button {
        @media (width < 550px) {
            max-width: 220px;
        }
    }
}

.projects__card-wrapper {
    position: var(--position);
}

.projects__card-skill {
    position: relative;

    .projects__card-skill-icon {
        position: relative;

        width: 18px;
        height: 18px;

        @media (width < 375px) {
            left: -0.15rem;
        }
    }
}
