.skills {
    &__title {
        margin-bottom: var(--margin-bottom);
    }

    &__card-wrapper {
        display: -ms-grid;
        display: grid;
        //grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.75rem;

        width: 100%;

        margin-bottom: 3rem;

        @media (width < 450px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }

    &__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 1rem;

        padding: var(--padding);

        @media (width < 450px) {
            padding: 1.5rem;
        }

        @media (width < 350px) {
            padding: 1rem;
        }

        &-title {
            font-size: 1.5rem;
        }

        i {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            
            font-size: 3rem;
        }

        img {
            width: 3rem;
        }
    }
}

.skills__card-wrapper {
    position: var(--position);
}