:root {
    --color-icon-html: hsl(11, 91%, 54%);
    --color-icon-css: hsl(214, 63%, 44%);
    --color-icon-git: hsl(10, 89%, 59%);
    --color-icon-js: hsl(54, 100%, 54%);
    --color-icon-npm: hsl(0, 89%, 55%);
    --color-icon-scss: hsl(330, 100%, 50%);
    --color-icon-react: hsl(192, 78%, 45%);
    --color-icon-css: hsl(214, 63%, 44%);
    --color-icon-tailwind: hsl(204, 100%, 50%);

    --box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

    --turquoise: hsl(160, 100%, 37%);
    --turquoise: hsla(174, 72%, 56%, 0.219);
    --blue: hsla(209, 100%, 50%);
    --white: hsla(0, 0%, 25%, 70%);

    --margin-bottom: 3rem;
    --padding: 2rem;

    --transition: 0.2s ease-in-out;

    --base-color: hsl(0, 0%, 100%);
    --base-color-variant: hsl(0, 0%, 100%);
    --base-color-variant-2: hsl(0, 0%, 100%);

    --text-color: hsl(0, 0%, 0%);
    --text-color-variant: hsl(240, 5%, 50%);

    --primary-color: hsl(209, 100%, 50%);
    --accent-color: hsl(209, 100%, 40%);

    --primary-border: 4px solid hsl(209, 100%, 50%);
    --secondary-border: 1.99px solid transparent;

    --border-radius: 0.25rem;
    --border-radius-left: 0rem;
    --border-color: hsl(209, 100%, 50%);

    --bg-btn: hsl(209, 100%, 50%);

    --primary-color: var(--blue);
    --primary-border: 4px solid var(--blue);
    --bg-btn: var(--blue);
    --border-color: var(--blue);

    --blurred-color-1: hsl(0, 0%, 100%);
    --blurred-color-2: hsl(0, 0%, 100%);
    --blurred-circle: radial-gradient(closest-side, var(--blurred-color-1), var(--blurred-color-2));

    --position: relative;

    --starting-opacity: 0;
    --ending-opacity: 1;
    --move-down: 100px;
    --fade-into-view: 0.5s ease-out;
    --move-back: 0;

    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

    --alt-black: rgb(33, 42, 64);
}

.darkmode {
    --base-color: hsl(0, 0%, 0%);
    --base-color-variant: hsla(0, 0%, 6%, 1%);
    --base-color-variant-2: hsla(0, 0%, 15%, 40%);

    --text-color: hsl(0, 0%, 100%);
    --text-color-variant: #cacaca;

    --primary-color: hsl(0, 0%, 100%);
    --accent-color: hsl(0, 0%, 90%);

    --primary-border: 1.99px solid #373a41;
    --secondary-border: 1.99px solid #373a41;
    --border-color: #373a41;

    --border-radius: 0.35rem;
    --border-radius-left: 0.35rem;

    --bg-btn: hsl(0, 0%, 100%);

    --blurred-color-1: hsla(0, 0%, 25%, 70%);
    --blurred-color-2: hsl(0, 0%, 0%);
    --blurred-circle: radial-gradient(closest-side, var(--blurred-color-1), var(--blurred-color-2));
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem 0 0 0;

    font-size: 16px;
}

body {
    // font-family: "DM Sans", sans-serif;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;

    color: var(--text-color);
    background: var(--base-color);

    position: relative;

    min-height: 100vh;
}

section {
    padding: 5rem 0;

    @media (width <= 700px) {
        padding: 3rem 0;
    }
}

article {
    border: var(--secondary-border);
    border-left: var(--primary-border);
    border-radius: var(--border-radius-left) var(--border-radius) var(--border-radius) var(--border-radius-left);

    overflow: hidden;

    background-color: var(--base-color-variant-2);
    box-shadow: var(--shadow-lg);
}

img {
    display: inline;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;

    width: 100%;
}

svg {
    width: 4.5rem;
    height: 4.5rem;
}

a {
    color: var(--text-color);

    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

button {
    background: transparent;

    font-size: 2rem;

    cursor: pointer;

    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);

    i {
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);

        color: var(--text-color);

        &:hover {
            color: var(--primary-color);
        }
    }
}
