.about {
    display: flex;
    flex-direction: column;
    
    &__header-wrapper {
        display: flex;
        flex-direction: column;

        max-width: 1000px;
    }

    &__description {
        margin-bottom: var(--margin-bottom);
    }

    &__image {
        border-radius: var(--border-radius);

        max-width: 400px;

        box-shadow: var(--box-shadow);
    }
}
