.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__title {
        margin-bottom: 1rem;
    }

    &__description {
        margin-bottom: 3rem;
    }

    img {
        border-radius: var(--border-radius);
        max-width: 40rem;
    }
}
