.contact {
    &__text-wrapper {
        margin-bottom: 2rem;
    }

    .button-wrapper {
        @media (width < 550px) {
            flex-direction: column;

            width: 100%;
        }
    }

    .button {
        @media (width < 550px) {
            width: 200px;
        }
    }
}
