.header {
    display: flex;
    flex-direction: column;
    //gap: 1rem;

    padding: 10rem 0;
    padding-bottom: 5rem;

    @media (width <= 600px) {
        padding: 5rem 0;
    }

    img {
        max-width: 12.5rem;

        border-radius: 50%;
        margin-top: 2rem;

        @media (width <= 600px) {
            max-width: 10rem;
        }
    }

    span:not(:nth-child(3)) {
        background: linear-gradient(to right, #ff8a00, #da1b60);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &__image {
        margin-bottom: 1rem;

        box-shadow: var(--box-shadow);
    }

    &__subtitle {
        margin-bottom: 2rem;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.5rem;

        @media (width <= 600px) {
            font-size: 1.25rem;
        }
    }

    .button-wrapper {
        margin-top: 1rem;

        @media (width < 550px) {
            flex-direction: column;

            width: 100%;
        }
    }

    .button {
        @media (width < 550px) {
            width: 160px;
        }
    }
}
