@import "styles/style.scss";

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 1rem;

    padding: 10rem 0;

    @media (width <= 600px) {
        padding: 5rem 0;
    }

    img {
        max-width: 15rem;
        border-radius: 50%;
    }

    &__title {
        width: fit-content;

        border-right: 0.3rem solid $blue;

        overflow: hidden;

        font-weight: 700;

        color: $black;

        animation:
            typing 2s steps(18),
            cursor 0.4s step-end infinite alternate;
    }

    @keyframes cursor {
        50% {
            border-color: transparent;
        }
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    span:not(:nth-child(2)) {
        background: linear-gradient(to right, #ff8a00, #da1b60);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}
