@import "styles/style.scss";

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 1rem;

    padding: 10rem 0;

    @media (width <= 600px) {
        padding: 5rem 0;
    }

    img {
        max-width: 15rem;
        border-radius: 50%;
    }

    span:not(:nth-child(2)) {
        background: linear-gradient(to right, #ff8a00, #da1b60);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}
