.offer {
    display: flex;
    flex-direction: column;

    &__description {
        margin-bottom: var(--margin-bottom);

        max-width: 1000px;
    }

    &__card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
        gap: 3rem;

        @media (width < 650px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    &__card {
        padding: 2rem;

        box-shadow: var(--box-shadow);

        @media (width < 450px) {
            padding: 1.5rem;
        }

        @media (width < 350px) {
            padding: 1rem;
        }
    }

    &__card-title {
        background: linear-gradient(to right, #ff8a00, #da1b60);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}
