@import "styles/style.scss";

/* ------------ Offer Styles ------------ */
.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 10rem 0;

    @media (width <= 700px) {
        padding: 5rem 0;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__description {
        margin-bottom: 3rem;
    }

    &__card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        @media (width <= 850px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 1rem;

        border-radius: 1rem;
        padding: 1rem;

        max-height: 30rem;

        aspect-ratio: 1 / 1;
    }

    &__image {
        border-radius: 1rem;

        height: 100%;

        max-height: 30rem;

        aspect-ratio: 1 / 1;
    }

    &__card-title {
        background: linear-gradient(to right, #ff8a00, #da1b60);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    span {
        background: linear-gradient(to right, #ff8a00, #da1b60);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}
