@import "styles/style.scss";

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__card-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        gap: 2rem;

        @media (width <= 1700px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (width <= 1350px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (width <= 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (width <= 450px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 1rem;

        border-radius: 1rem;
        margin-bottom: 5rem;
        padding: 3.5rem;

        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

        &:hover {
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) inset;

            transition: 300ms ease;
        }

        @media (width <= 800px) {
            padding: 1.5rem;
        }
    }

    i {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 4.5rem;
    }

    &__card-title {
        font-size: 1.5rem;
    }
}
