:root {
    --color-grey: #71717a;
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-blue: hsl(209, 100%, 50%);

    --color-white-secondary: hsl(0, 0%, 90%);
    --color-blue-secondary: hsl(209, 100%, 40%);

    --color-icon-html: hsl(11, 91%, 54%);
    --color-icon-css: hsl(214, 63%, 44%);
    --color-icon-git: hsl(0, 0%, 15%);
    --color-icon-js: hsl(54, 100%, 54%);
    --color-icon-npm: hsl(0, 89%, 55%);
    --color-icon-scss: hsl(330, 100%, 50%);

    --border-radius: 0.25rem;
    --border-radius-btn: 2.5rem;
    --border-radius-circle: 50%;

    --box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    --margin-bottom: 3rem;

    --padding: 4rem;
    --padding-btn: 0.75rem 1.25rem;

    --gap-card-grid: 2rem;

    --font-weight-btn: 500;

    --transition: 0.2s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;

    color: var(--color-black);
    background-color: var(--color-white);

    min-height: 100vh;
}

section {
    padding: 5rem 0;

    @media (width <= 700px) {
        padding: 3rem 0;
    }
}

h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;

    @media (width <= 700px) {
        font-size: 3.5rem;
    }

    @media (width <= 500px) {
        font-size: 2.75rem;
    }

    @media (width <= 350px) {
        font-size: 2.5rem;
    }

    @media (width <= 250px) {
        font-size: 2.25rem;
    }
}

h2 {
    font-weight: 700;

    font-size: 2.75rem;

    

    @media (width <= 600px) {
        font-size: 2.5rem;
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    font-size: 1.125rem;

    color: #71717a;
    line-height: 1.5rem;

    @media (width <= 400px) {
        font-size: 1rem;
    }
}

img {
    display: inline;
    object-fit: cover;
    object-position: center;

    width: 100%;
}

a {
    color: var(--color-black);

    transition: var(--transition);
}

button {
    background: transparent;

    font-size: 2rem;

    cursor: pointer;

    transition: var(--transition);

    i {
        transition: var(--transition);

        color: var(--color-black);

        &:hover {
            color: var(--color-blue);
        }
    }
}

article {
    border-left: 6px solid var(--color-blue);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;

    background-color: hsl(0, 0%, 100%);
}

.container {
    width: 80%;

    margin: 0 auto;
    max-width: 1800px;

    position: relative;

    @media (width <= 600px) {
        width: 85%;
    }

    @media (width <= 400px) {
        width: 95%;
    }
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;

    @keyframes wave-animation {
        0% {
            transform: rotate(0deg);
        }

        10% {
            transform: rotate(14deg);
        }

        20% {
            transform: rotate(-8deg);
        }

        30% {
            transform: rotate(14deg);
        }

        40% {
            transform: rotate(-4deg);
        }

        50% {
            transform: rotate(10deg);
        }

        60% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
}

.html {
    color: var(--color-icon-html);
}

.css {
    color: var(--color-icon-css);
}

.git {
    color: var(--color-icon-git);
}

.js {
    color: var(--color-icon-js);
}

.npm {
    color: var(--color-icon-npm);
}

.scss {
    color: var(--color-icon-scss);
}

.projects__card-wrapper,
.skills__card-grid,
.offer__card-grid,
.about__image-wrapper {
    position: relative;
}

.projects__card,
.skills__card,
.offer__card,
.about__image {
    opacity: 0;
    transform: translateY(100px);
    transition:
        opacity 0.6s ease-out,
        transform 0.6s ease-out;
}

.projects__card.reveal,
.skills__card.reveal,
.offer__card.reveal,
.about__image.reveal {
    opacity: 1;
    transform: translateY(0);
}

.slide-in {
    transform: translateX(0);
}

.move-aside {
    transform: translateX(100px);
}