:root {
    --color-grey: #71717a;
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-blue: hsl(209, 100%, 50%);

    --color-white-secondary: hsl(0, 0%, 90%);
    --color-blue-secondary: hsl(209, 100%, 40%);

    --color-icon-html: hsl(11, 91%, 54%);
    --color-icon-css: hsl(214, 63%, 44%);
    --color-icon-git: hsl(0, 0%, 15%);
    --color-icon-js: hsl(54, 100%, 54%);
    --color-icon-npm: hsl(0, 89%, 55%);

    --border-radius: 0.5rem;
    --border-radius-btn: 2.5rem;
    --border-radius-circle: 50%;

    --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);

    --margin-bottom: 4rem;

    --padding: 4rem;
    --padding-btn: 0.75rem 1.25rem;

    --gap-card-grid: 2rem;

    --font-weight-btn: 500;

    --transition: 0.2s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;

    color: var(--color-black);
    background-color: var(--color-white);

    min-height: 100vh;
}

section {
    padding: 5rem 0;

    @media (width <= 700px) {
        padding: 3rem 0;
    }
}

h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;

    @media (width <= 1200px) {
        font-size: 4rem;
    }

    @media (width <= 1000px) {
        font-size: 3.5rem;
    }

    @media (width <= 600px) {
        font-size: 3rem;
    }

    @media (width <= 500px) {
        font-size: 2.75rem;
    }

    @media (width <= 350px) {
        font-size: 2.5rem;
    }

    @media (width <= 250px) {
        font-size: 2.25rem;
    }
}

h2 {
    font-weight: 700;

    font-size: 2.75rem;

    @media (width <= 600px) {
        font-size: 2.5rem;
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;

    @media (width <= 500px) {
        font-size: 1.25rem;
    }
}

p {
    font-size: 1.125rem;

    color: #71717a;
    line-height: 1.5rem;

    @media (width <= 400px) {
        font-size: 1rem;
    }
}

img {
    display: inline;
    object-fit: cover;
    object-position: center;

    width: 100%;
}

a {
    color: var(--color-black);

    a:focus {
        outline: 2px solid #007bff;
    }
}

.container {
    width: 80%;

    margin: 0 auto;
    max-width: 1800px;

    position: relative;

    @media (width <= 600px) {
        width: 85%;
    }
}

.container-nav {
    margin: 0 auto;

    width: 95%;
    max-width: 1800px;

    position: relative;

    border-radius: var(--border-radius);

    box-shadow: var(--box-shadow);
}

.buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    @media (width <= 275px) {
        flex-direction: column;
    }
}

.button {
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    padding: var(--padding-btn);

    width: fit-content;

    color: var(--color-white);
    background-color: var(--color-blue);

    font-weight: var(--font-weight-btn);

    &:hover {
        border: 2px solid var(--color-blue);

        color: var(--color-blue);
        background-color: var(--color-white);

        transition: var(--transition);
    }

    &:active {
        background-color: var(--color-white-secondary);

        transition: var(--transition);
    }
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
}

.icon-button {
    margin-top: 1.5rem;

    @media (width <= 1000px) {
        border-radius: var(--border-radius);
    }

    i {
        border-radius: var(--border-radius-circle);
        padding: var(--padding-btn);
        padding: 0.75rem;

        color: var(--color-white);
        background-color: var(--color-blue);

        font-size: 2rem;

        @media (width <= 1000px) {
            padding: 0.75rem 3rem;

            border-radius: var(--border-radius);
        }

        &:hover {
            color: var(--color-blue);
            background-color: var(--color-white);

            transition: var(--transition);
        }
    }
}

.html {
    color: var(--color-icon-html);
}

.css {
    color: var(--color-icon-css);
}

.git {
    color: var(--color-icon-git);
}

.js {
    color: var(--color-icon-js);
}

.npm {
    color: var(--color-icon-npm);
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;

    @keyframes wave-animation {
        0% {
            transform: rotate(0deg);
        }

        10% {
            transform: rotate(14deg);
        }

        20% {
            transform: rotate(-8deg);
        }

        30% {
            transform: rotate(14deg);
        }

        40% {
            transform: rotate(-4deg);
        }

        50% {
            transform: rotate(10deg);
        }

        60% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
}
